body {
  font-family: "Raleway", sans-serif;
}
.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 1400px;
  margin: 0 auto;
}
.header {
  grid-column: 1 / -1;
}
.results {
  margin-top: 40px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
  grid-gap: 10px;
  grid-column: 1 / 4;
}
